{% include search.html %}
{% include navigation/nav_common.html %}
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                </div>
                <div class="carousel-image wow zoomIn">
                    <!-- <img src="static/img/landing/laptop.png" alt="laptop"/> -->
                </div>
            </div>
            <!-- Set background for slide in css -->
            <article style="height: 470px;width:100%;
              background: url(/static/assets/img/landing/slides/header_two.jpg) 50% 0 no-repeat;"
              class="col-lg-12" id="i18_blog">
              <!-- div style="margin-top:250px"
                   class="container">
                <p>Welcome</p>
                <h1><a href="/about" title="View more">I am Bing</a></h1>
                <div>
                  <p>We are a creative engineering team solving complex problems with open software and open data.</p>
                </div>
              </div -->
            </article>
        </div>
    </div>
</div>
