<div class="search-tool"
      style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px; opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control search-content" id="search-content" style="position: fixed; top: 60px" placeholder="Search Blog">

    <div style="position: fixed; top: 16px; right: 16px; z-index: 9999;">
        <img src="{{ "/search/img/cb-close.png" | prepend: site.baseurl }}" id="close-btn"/>
    </div>
</div>

<div style="position: fixed; right: 16px; bottom: 20px; z-index: 9999;">
    <img src="{{ "/search/img/cb-search.png" | prepend : site.baseurl }}"  id="search-btn"  title="Double click Ctrl"/>
</div>

<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="dropdown">
              <button class="dropbtn">{{ site.title }}</button>
              <div class="dropdown-content">
                <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
                {% for section in site.data.blog %}
                  <a href="{{ section.href | prepend: site.baseurl }}">
                    {{ section.name }}
                  </a>
                {% endfor %}
              </div>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                </div>
                <div class="carousel-image wow zoomIn">
                    <!-- <img src="static/img/landing/laptop.png" alt="laptop"/> -->
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div style="height: 470px;width: 100%; background: url(/static/assets/img/landing/header_one.jpg) 50% 0 no-repeat;" class="col-lg-12 text-center wow zoomIn" id="i18_blog">
              <!--
                <div style="height: 200px;"></div>
                <a class="btn btn-lg btn-default btn-rounded btn-outline wow; bounceIn" href="{{ "/blog/" | prepend: site.baseurl }}">
                  <span data-i18n="blog.my_blog">My Blog</span>
                </a>
                <div style="height: 200px;"></div>
              -->
            </div>
        </div>
    </div>
</div>
