{% include foot/foot_default.html %}

<footer id="site-footer" role="contentinfo">
<div class="jumbotron col-xs-12">
    <div class="team-member wow zoomIn">
        <h4>
          <span class="navy">
            Let's connect
          </span>
        </h4>
        <ul class="list-inline social-icon">
            {% if site.data.author.author.github_username %}
              <li>
                <a href="https://github.com/{{ site.data.author.author.github_username }}" target="blank">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            {% endif %}

            {% if site.data.author.author.linkedin_id %}
              <li>
                <a href="https://www.linkedin.com/in/{{ site.data.author.author.linkedin_id }}" target="blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            {% endif %}

            {% if site.data.author.author.facebook_username %}
              <li>
                <a href="https://www.facebook.com/{{ site.data.author.author.facebook_username }}" target="blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            {% endif %}

            {% if site.data.author.author.twitter_username %}
              <li>
                <a href="https://twitter.com/{{ site.data.author.author.twitter_username }}" target="blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            {% endif %}

            {% if site.data.author.author.email %}
              <li>
                <a href="mailto:{{ site.data.author.author.email }}">
                  <i class="fa fa-envelope-o"></i>
                </a>
              </li>
            {% endif %}

            <li>
              <a href="{{ site.baseurl }}/feed.xml" target="blank">
                <i class="fa fa-rss"></i>
              </a>
            </li>

            {% if site.data.author.author.cv %}
              <li>
                <a href="{{ site.data.author.author.cv | prepend: site.baseurl}}" target="blank">
                  <i class="fa fa-file-pdf-o"></i>
                </a>
              </li>
            {% endif %}
        </ul>
        <p >Bing • 2003-2017</p>
    </div>
</div>
</footer>
