<head>
{% include header/head_default.html %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="{{ "/static/js/jquery-1.9.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/jquery.lunr.search.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/toc.js" | prepend: site.baseurl }}"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<!-- Our Custom CSS -->
<link href="{{ "/static/css/style2.css" | prepend: site.baseurl }}" rel="stylesheet">

</head>
