<!DOCTYPE html>
<html lang="en">

	{% if page.title != 'index' %}
	    {% include head.html %}
	{% else %}
		{% include index_head.html %}
	{% endif %}

<body id="page-top" class="landing-page">
	{%	assign layout = page.layout %}
	{% case layout %}
		{% when 'default' %}

		{% when 'blog' %}
			{% include blog_header.html %}
		{% when 'home' %}

		{% when 'post' %}
			{% include post_header.html %}
		{% when 'publication' %}
			{% include publication_header.html %}
		{% else %}
			There is no case for layout {{ page.layout }} - title {{ page.title }}
	{% endcase%}


    {{ content }}

	{% if page.title != 'index' %}
	    {% include foot.html %}
	{% else %}
		{% include index_foot.html %}
	{% endif %}

</body>
</html>
