<!DOCTYPE html>
<html lang="en">
{% assign layout = page.layout %}
{% case layout %}
	{% when 'default' %}
		<!-- header -->
		{% include header/head_default.html %}
		<!-- body -->
		<body id="page-top" class="landing-page">
			{% include navigation/nav_default.html %}
			{{ content }}
			{% include foot/foot_default.html %}
		</body>
	{% when 'index' %}
		<!-- header -->
		{% include header/head_index.html %}
		<!-- body -->
		<body id="page-top" class="landing-page">
			{% include navigation/nav_index.html %}
			{{ content }}
			{% include foot/foot_index.html %}
		</body>
	{% when 'blog' %}
		<!-- header -->
			{% include header/head_blog.html %}
		<!-- body -->
		<body id="page-top" class="landing-page">
			{% include navigation/nav_blog.html %}
			{{ content }}
			{% include foot/foot_blog.html %}
		</body>
	{% when 'post' %}
		<!-- header -->
			{% include header/head_post.html %}
		<!-- body -->
		<body id="page-top" class="landing-page">
			{% include navigation/nav_post.html %}
			{{ content }}
			{% include foot/foot_post.html %}
		</body>
	{% when 'publication' %}
		<!-- header -->
			{% include header/head_publication.html %}
		<!-- body -->
		<body id="page-top" class="landing-page">
			{% include navigation/nav_publication.html %}
			{{ content }}
			{% include foot/foot_publication.html %}
		</body>
	{% else %}
		There is no case for layout {{ page.layout }} - title {{ page.title }}
{% endcase%}
</html>
