<!DOCTYPE html>
<html lang="en">
	<!-- header -->
	{% if page.title != 'index' %}
	    {% include header/head_default.html %}
	{% else %}
		{% include header/head_index.html %}
	{% endif %}
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- body -->
<body id="page-top" class="landing-page">
	{%	assign layout = page.layout %}
	{% case layout %}
		{% when 'default' %}

		{% when 'blog' %}
			{% include navigation/nav_blog.html %}
		{% when 'home' %}

		{% when 'post' %}
			{% include navigation/nav_post.html %}
		{% when 'publication' %}
			{% include navigation/nav_publication.html %}
		{% else %}
			There is no case for layout {{ page.layout }} - title {{ page.title }}
	{% endcase%}


  {{ content }}


	<!-- foot -->
	{% if page.title != 'index' %}
	    {% include foot/foot_default.html %}
	{% else %}
		{% include foot/foot_index.html %}
	{% endif %}
</body>
</html>
